<div class="content" ng-controller="AdminDashCtrl">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <textarea style="dont-weight: bold" class="col-lg-12" class="nothing" readonly>
                                Storage statistics
                                    Available : 65 %
                                    Used : 35 %
                        </textarea>
                    </div>     
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                <h4 class="title">Customer List</h4>
                                <!-- <p class="category">Here is a subtitle for this table</p> -->
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th> Name </th>
                                    	<th> Number of videos </th>
                                    	
                                    </thead>
                                    <tbody>
										<tr ng-repeat="customer in customerList">
											<td>{{customer.UserName}} </td>
											<td>{{customer.MediaCount}}</td>
                                       
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="payment" class="row">
                                    <div class="col-lg-12">
                                       <div class="col-lg-offset-5 col-lg-10">
                                    <button type="submit" class="btn btn-primary btn-space" ng-click="LinkUploadFile()">
					<!-- <a href="/upload">upload</a> --> 
					Upload	
                                    </button>
                                    <button type="submit" class="btn btn-primary btn-space" ng-click="LinkAddCustomer()">
                                        Add a New Customer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
