<div class="login-wrap">
			<div class="login-html">
				<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
				<div class="login-form">

					<div class="signup" id="signup" ng-controller="SignupAdminCtrl">
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" type="text" class="input" ng-model="signup.UserName">
						</div>
		                <div class="group">
							<label for="user" class="label">FirstName</label>
							<input id="user" type="text" class="input" ng-model="signup.FirstName">
						</div>
		                <div class="group">
							<label for="user" class="label">LastName</label>
							<input id="user" type="text" class="input" ng-model="signup.LastName">
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" type="password" class="input" data-type="password" ng-model="signup.PWD">
						</div>
						<div class="group">
							<label for="pass" class="label">Repeat Password</label>
							<input id="pass" type="password" class="input" data-type="password">
						</div>
						<div class="group">
							<label for="pass" class="label">Email Address</label>
							<input id="pass" type="text" class="input" ng-model="signup.Email">
						</div>
						<div class="group">
								<input type="submit" class="button" value="Sign Up" ng-click="signUp()">
						</div>




						<div class="hr"></div>
						<div class="foot-lnk">
							<label for="tab-1">Already Member?</a>
						</div>
					</div>
				</div>
			</div>
	</div>
